.movies-card__movie-duration {
  margin: 9px 0 14px 14px;
  padding: 0;
  grid-area: duration;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  justify-self: flex-start;
}