.about-project__week-counter-container {
  display: grid;
  max-width: 1140px;
  width: 89.07vw;
  grid-template-columns: 20% 80%;
  text-align: center;
  margin-top: 110px;
}

@media screen and (max-width: 768px) {
  .about-project__week-counter-container {
    margin-top: 93px;
    grid-template-columns: 20.958% 79.024%;
    width: 86.979716vw;
  }
}

@media screen and (max-width: 500px) {
  .about-project__week-counter-container {
    margin-top: 60px;
    grid-template-columns: 35.2112% 64.7888%;
    width: 88.75vw;
  }
}
