.about-project__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 500px) {
  .about-project__subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__subtitle:last-child {
    margin-top: 56px;
  }
}
