.Profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  align-items: center;
  margin: 74px 0 70px;
}

@media screen and (max-width: 768px) {
  .Profile {
    margin: 236px 0 269px; 
  }
}

@media screen and (max-width: 500px) {
  .Profile {
    margin: 70px 0 40px; 
  }
}
