.about-me__name {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 700px) {
  .about-me__name {
    margin-top: 40px;
    font-size: 30px;
    line-height: 36px;
  }
}