.main__list-button_place_techs {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  width: 90px;
  min-height: 60px;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .main__list-button_place_techs {
    width: 84px;
    min-height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}
