.profile__button {
  padding: 0;
  border: none;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 220px 0 16px;
  min-height: 45px;
  border-radius: 3px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .profile__button {
    margin-top: 210px;
  }
}

@media screen and (max-width: 500px) {
  .profile__button {
    margin-top: 379px;
  }
}
