.movies-card-list__more-button {
  padding: 0;
  border: none;
  width: 320px;
  min-height: 36px;
  margin-top: 50px;
  cursor: pointer;
  background-color: #f9f9f9;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 500px) {
  .movies-card-list__more-button {
    width: 240px;
  }
}
