.profile__fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 410px;
  align-items: center;
  margin: 74px 0 0;
  padding: 0;
  border: none;
}

@media screen and (max-width: 768px) {
  .profile__fieldset {
    margin: 236px 0 0; 
  }
}

@media screen and (max-width: 500px) {
  .profile__fieldset {
    margin: 70px 0 0; 
  }
}