.AboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 110px 0 125px;
}

@media screen and (max-width: 768px) {
  .AboutMe {
    margin: 90px 0;
  }
}

@media screen and (max-width: 500px) {
  .AboutMe {
    margin: 70px 0;
  }
}